/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos para a entrada de texto */
#pokemonInput {
    padding: 5px;
    font-size: 16px;
}

/* Estilos para o botão de pesquisa */
button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para a seção de informações do Pokémon */
#pokemonInfo {
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pokemonImage {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

#pokemonName {
    font-size: 18px;
    margin-top: 10px;
}
